html {
  min-height: 100vh;
  vertical-align: baseline;
}

body {
  min-height: 100%;
}

blockquote, ul, menu, dir, ol, dialog, fiedlset, input {
	margin: 0;
	padding: 0;
}

td, th, legend, textarea, option {
	padding: 0;
}

body, p, hr, dl, multicol, dd, blockquote, figure, pre, xmp, plaintext, listing {
	margin: 0;
}

iframe, fieldset, table, textarea {
  border: none;
}

h1, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

th, optgorup {
	font-weight: normal;
}

th, caption {
  text-align: start;
}

address, cite, dfn, em, i, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

