html {
  min-height: 100vh;
  vertical-align: baseline;
}

body {
  min-height: 100%;
}

blockquote, dialog, fiedlset, input, menu, ol, ul  {
	margin: 0;
	padding: 0;
}

legend, th, textarea, th, option {
	padding: 0;
}

blockquote, body, dd, dl, figure, hr, listing. multicol, p, plaintext, pre, xmp, {
	margin: 0;
}

iframe, fieldset {
  border: none;
}

h1, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

th, optgorup {
	font-weight: normal;
}

address, cite, dfn, em, i, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

th, caption {
  text-align: start;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
