html {
	min-height: 100vh;
	vertical-align: baseline;
}

body {
	min-height: 100%;
}

iframe, fieldset {
	border: none;
}

blockquote, dialog, fiedlset, menu, ol, ul  {
	margin: 0;
	padding: 0;
}

blockquote, body, dd, dl, figure, hr, input, p, pre, {
	margin: 0;
}

legend, td, textarea, th, option {
	padding: 0;
}

h1, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

th, optgorup {
	font-weight: normal;
}

address, cite, dfn, em, i, var {
	font-style: normal;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
}

th, caption {
	text-align: start;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
