th, caption {
	text-align: start;
}

iframe, fieldset {
	border: none;
}

button, details, input, option, select, textarea {
 	cursor: pointer;
}

textarea:focus, input:focus:not(input[type=button], input[type=checkbox], input[type=radio], input[type=range], input[type=reset], input[type=submit]) {
	cursor: initial;
}
