html {
	--background-color: ;
	--surface-color: ;
	--
	background-color: var(--background-color, #FFFFFF);
	color: var(--font-color, #000000);
	font-family: var(--font-family, serif);
	font-size: var(--font-size, 16px);
  line-height: var(--line-height, 1);
}

a, button, input[type="submit"], input[type="reset"], input[type="button"] {
  cursor: pointer
}

h1 {
	font-family: var(--font-family-h1, serif);
	font-size: var(--font-size-h1, 24px);
	font-weight: var(--font-weight-h1, normal);
}

h2 {
	font-family: var(--font-family-h2, serif);
	font-size: var(--font-size-h2, 24px);
	font-weight: var(--font-weight-h1, normal);
}

h3 {
	font-family: var(--font-family-h3, serif);
	font-size: var(--font-size-h3, 24px);
	font-weight: var(--font-weight-h1, normal);
}

h4 {
	font-family: var(--font-family-h4, serif);
	font-size: var(--font-size-h4, 24px);
	font-weight: var(--font-weight-h1, normal);
}

h5 {
	font-family: var(--font-family-h5, serif);
	font-size: var(--font-size-h5, 24px);
	font-weight: var(--font-weight-h5, normal);
}

h6 {
	font-family: var(--font-family-h6, serif);
	font-size: var(--font-size-h6, 24px);
	font-weight: var(--font-weight-h6, normal);
}
