:root {
	--background: repeating-linear-gradient(#efefef, #efefef 2rem, #ffffff 2rem, #ffffff 4rem);
	--line-height: 2rem;
	--font: 1rem/var(--line-height) serif;
	--color: #000000;
	--h1-font: 1.6rem/var(--line-height) serif;
	--h1-color: #000000;
	--h2-font: 1.5rem/var(--line-height) serif;
	--h2-color: #000000;
	--h3-font: 1.4rem/var(--line-height) serif;
	--h3-color: #000000;
	--h4-font: 1.3rem/var(--line-height) serif;
	--h4-color: #000000;
	--h5-font: 1.2rem/var(--line-height) serif;
	--h5-color: #000000;
	--h6-font: 1.1rem/var(--line-height) serif;
	--h6-color: #000000;
	--code-font: 1rem/var(--line-height) monospace, monospace;
	--code-color: #000000;
	--sub-font: 0.8rem/var(--line-height) monospace, monospace;
	--sub-color: #000000;
}
