/* Semantic Elements */
body, main, header, footer, nav, menu, section, div, hgroup, article,
details, aside, blockquote, address, hr, table, caption, dl, ul, ol,
h1, h2, h3, h4, h5, h6, p, details, summary, pre, figure, figcaption,
audio, video, img, canvas, iframe, form, fieldset, legend, label, textarea {
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px;
	line-height: 1em;
	box-sizing: border-box;
}

/* Baseline Semantic Element Declarations */
body { background-color: #ffffff; }
menu { list-style: none; }
address { font-style: normal; }

hr {
	height: 1px;
	background-color: #bbbbbb;
}

/* Baseline List & Table Declarations */
dl { list-style: none; }
ul { list-style: circle inside; }
ol { list-style: decimal inside; }

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

caption {
	display: block;
	text-align: left;
}

/* Baseline Link Declarations */
a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: #009fab;
	cursor: pointer;
}

/* Baseline Text Styling Declarations */
cite, em, i, dfn { font-style: italic; }
strong { font-style: bold; }
ins { text-decoration: underline; }
mark { background-color: #dddddd; }
del { text-decoration: line-through; }
q { display: inline; }

pre {
	padding: 1em 0px 1em 0px;
	overflow-x: auto;
}

code, samp, kbd, var {
	display: inline;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: monospace;
}

/* Baseline Form Declarations */
input, button, select { display: block; }
label { display: inline; }
textarea { border: 1px solid #aaaaaa };

/* Baseline Media Declarations */


/* Put your custom classes here */



/* Helper Calsses */
/* Be sure to remove before actually publishing you CSS */

/* Responsive Media Calls */
/* Vertical Calls */
@media (min-width: 500px) { }
@media (min-width: 700px) { }
@media (min-width: 1000px) { }
@media (min-width: 1200px) { }

/* Horizontal Calls */
@media (min-width: 500px) and (min-height: 500px) { }
@media (min-width: 700px) and (min-height: 700px) { }
@media (min-width: 1000px) and (min-height: 1000px) { }
@media (min-width: 1200px) and (min-height: 1200px) { }
