/* Baseboard v0.1 | Brian Taylor Vann - Jan 2017 | MIT License */

/* Put your @font-faces here... */

/* Document Declarations */
html { }
body { font-size: 100%; margin: 0px; padding: 0px; }

/* Universal Declarations Semantic Elements */
main, header, footer, nav, menu, section, article, div,
details, summary, aside, blockquote, address, hr, dl, ul, ol, li,
table, caption, th, tr, col, colgroup, td, thead, tbody, tfoot, 
hgroup, h1, h2, h3, h4, h5, h6, p, pre, code, samp, kbd, var,
cite, em, i, dfn, strong, ins, u, mark, del, s, q,
figure, figcaption, object, audio, video, img, canvas, iframe, 
form, fieldset, legend, label, textarea {
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	line-height: 1em;
	box-sizing: border-box;
}

/* Baseboard Semantic Element Declarations */
body { background-color: #ffffff; }
menu { list-style: none; }
address { font-style: normal; }
hr { height: 1px; background-color: #bbbbbb; border: 0px; }

/* Baseboard List & Table Declarations */
table { border-collapse: collapse; border-spacing: 0px; }
caption { display: block; text-align: left; }
thead { display: table-header-group; }
tbody { display: table-row-group; }
tfoot { display: table-footer-group; }
th, td { display: table-cell; }
tr { display: table-row; }
dl { list-style: none; }
ul { list-style: circle inside; }
ol { list-style: decimal inside; }
li { display: list-item; }

/* Baseboard Link Declarations */
a, a:hover, a:active, a:visited { 
	text-decoration: none;
	color: #4286f4;
	cursor: pointer;
}

/* Baseboard Text Styling Declarations */
pre { padding: 1px; overflow-x: auto; }
cite, em, i, dfn { font-style: italic; }
strong { font-weight: bold; }
ins, u { text-decoration: underline; }
mark { background-color: #dddddd; }
del, s { text-decoration: line-through; }
code, samp, kbd, var { font-family: monospace; }
cite, em, i, dfn, strong, ins, u, mark, del, 
s, q, code, samp, kbd, var {
	display: inline;
}

/* Baseboard Form Declarations */
input, button, select { display: block; }
label { display: inline; }
textarea { border: 1px solid #aaaaaa };


/* Put your custom classes here */


